<DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Blog Django Girls</title>
</head>
<body>
	<p>Ola</p>
	<p>Estamos trabalhando</p>
	
	<div>
		<h1><a href="/">Blog Django Girls</a></h1>
	</div>

	<div>
		<p> publicado: 14.06.2014, 12:14 </p>
		<h2><a href="/">Meu primeiro post</a></h2>
		<p>Aqui um informação na futuro</p>
	</div>
	
	<div>
		<p> publicado: 14.06.2014, 12:14 </p>
		<h2><a href="/">Meu primeiro post</a></h2>
		<p>Aqui um informação na futuro</p>
	</div>
	
</body>
</html>
